* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.lista {
  list-style-position: inside;
  /* list-style-type: circle; */
  /* list-style-type: disc; */
  /* list-style-type: decimal; */
  margin-left: 20px;
}

.lista li {
  color: green;
  font-size: 18px;
  margin-top: 10px;
}

.lista li.item3 {
  color: violet;
}

.lista .item3 {
  color: red;
}
