* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.lista,
.lista2 {
  list-style-position: inside;
  /* list-style-type: circle; */
  /* list-style-type: disc; */
  /* list-style-type: decimal; */
  margin-left: 20px;
}

.lista li,
.lista2 li {
  color: green;
  font-size: 18px;
  margin-top: 10px;
}

.lista .item3,
.lista2 .item3 {
  font-weight: bold;
}
