
html, 
body {
    height: 100%;
}

.center {
    box-sizing: content-box;
    width: 1280px;
    margin: 0 auto;
    background-color: gray;
}

.artigo {
    margin-top: 30px;
    margin-right: -4px;
    display: inline-block;
    width: 640px;
}